body{
    margin: 0px;
}
.logoimg{
    height: 170px;
    width: 100px;
    margin-left: 50px;
    transform: scale(2);
}


.header{
    height: 500px;
    width: 100%;
    background-color: lightpink;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    margin-left: 30px;
    margin-right: 30px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: auto;
}
.menu-style {
    text-decoration: none; /* Removes underline */
    color: black; /* Sets text color to black */
    font-weight: bold;
    transition: 0.3s;
    margin-left: 50px;
    font-size: larger;
}

.menu-style:hover {
    color: rgb(219, 104, 10); /* Changes color when hovered */
}

.book{
    height: 420px;
    width: 630px;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 200px;
    
}

.title-text{
    
    font-weight: bold;
    margin-left: 50px;
    font-family: Copperplate, Papyrus, fantasy ,serif;
    font-size: 5rem;  /* Adjust size as needed */
    font-weight: 700;
    color: #ff7f50; /* Orange shade similar to the image */
    text-transform: capitalize;
    letter-spacing: 1px;
}
.imge{
    width: 330px;
    height: 300px;
    animation: floatAnimation 1.5s infinite alternate ease-in-out; 
     
}
.button{
    border: none;
    height: 30px;
    width: 60px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #D63384;
    color: #FFFFFF;
}
.username{
    margin-left: 90px;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    font-size: 20px;
}





.service {
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: round;
    background-position: center;
}

.our-services{
    font-weight: bold;
    font-family: Copperplate, Papyrus, fantasy ,serif;
}

.speak{
    font-family: "Rockwell",Papyrus, fantasy;
    color: rgb(67, 55, 90);

}


.head{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.childs{
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}

